<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
    </div>

    <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12 content-center">
        <a href="/" class="text-lg font-semibold leading-6 text-gray-200">Home</a>
        <a href="/pages/projects" class="text-lg font-semibold leading-6 text-gray-200">Projects</a>
        <a href="/pages/contact" class="text-lg font-semibold leading-6 text-gray-200">Contact</a>
        <a href="/pages/resume" class="text-lg font-semibold leading-6 text-gray-200">Resume</a>
        <a href="/pages/blog" class="text-lg font-semibold leading-6 text-gray-200">Blog</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
    </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
</header>